h1 {
    font-weight: 300;
}

.outter-container{
    margin-top: 7%;
}

.form-container, .todo-container {
    width: 60%;
}

.form-container {
    padding: 50px 80px;
}

form {
    text-align: center;
}

.MuiTextField-root {
    width: 500px;
}

select {
    height: 25px !important;
}

.MuiGrid-item {
    display: inline-block;
}

.MuiFormLabel-root.Mui-focused, .MuiInput-underline:after {
    border-bottom-color: rgba(0, 0, 0, 0.87) !important;
    color: rgba(0, 0, 0, 0.87) !important;
}

.todolist-container {
    margin: 50px 0;
}

.todo-container {
    margin-top: 10px;
    padding: 20px 80px;
    min-height: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: relative;
}

.todo-container li {
    justify-content: flex-start;
}

.group-btns {
    position: absolute;
    right: 10%;
}

.MuiButton-root {
    min-width: 0 !important;
    height: 20px;
}

.completed {
    text-decoration: line-through;
}

@media (max-width: 1250px) {
    .MuiTextField-root {
        width: 350px;
    }
}

@media (max-width: 600px) {
    .MuiTextField-root {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .outter-container{
        padding: 40px 30px;
    }
    .MuiTextField-root {
        width: 250px;
    }
}